<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI Search Problems</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <h1 class="title">Uninformed Search Techniques - Artificial Intelligence</h1>

    <div class="container">
        <div class="card latin" onclick="location.href='/latin_square'">
            <h2>Latin Square</h2>
            <p>Fill an n×n grid so each symbol appears once per row and column.</p>
        </div>
    </div>
</body>
</html>
