<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI Search Problems</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <h1 class="title">Uninformed Search Techniques - Artificial Intelligence</h1>

    <div class="container">

        <div class="card sudoku" onclick="location.href='/sudoku'">
            <h2>Sudoku Solver</h2>
            <p>Solve Sudoku puzzles using Breadth-First Search (BFS) and Backtracking algorithms.</p>
        </div>

    </div>
</body>
</html>